.second {
  position: relative;
//  width: 390px;
//  height: 844px;
width: 100%;
  background-color: #ffffff;

margin-top:100px;
}

.second .text-wrapper {
  position: relative;
/*
  height: 19px;
  top: 197px;
  left: 86px;
*/
  font-family: "Manrope", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;

margin-bottom : 120px;
}

.second .div {
  position: relative;
/*
  top: 157px;
  left: 85px;
*/
  font-family: "Manrope", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 72px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;

margin-bottom:40px;
}

.second .user-name-field-text {
  position: relative;
/*
  width: 314px;
  height: 48px;
  top: 253px;
  left: 39px;
*/
}

.second .overlap-group {
  position: relative;
//  width: 313px;
// height: 49px;
width:75%;
height:90px;
  background-image: url(../img/login/rectangle-3.png);
  background-size: 100% 100%;

margin-left:auto;
margin-right:auto;
margin-bottom:72px;
}

.second .text-wrapper-2 {
//  position: absolute;
/*
  top: 12px;
  left: 12px;
*/
position : relative;
text-align:center;
top:24px;
left:15px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000b2;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.second .email-field-text {
  position: relative;
/*
  width: 314px;
  height: 48px;
  top: 329px;
  left: 39px;
*/
}

.second .phone-number-field {
  position: relative;
/*
  width: 314px;
  height: 48px;
  top: 405px;
  left: 39px;
*/
}

.second .signup-field-text {
  position: relative;
/*
  width: 314px;
  height: 48px;
  top: 488px;
  left: 39px;
*/
width:30%;
margin-left:auto;
margin-right:auto;
}

.second .overlap {
  position: relative;
  width: 100%;
  height: 108px;
  background-color: #0d63d1;
  border-radius: 5px;
}

.second .text-wrapper-3 {
  position: relative;
top:24px;
//left:48px;
text-align:center;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffffe6;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
