<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/login_signup_select.css" />
  </head>
  <body>
    <div class="login-signup">
      <div class="div">
        <div class="text-wrapper">Who Am I?</div>
	<div class="overlay_unwell" onclick='location.href="login_signup_unwell"'>
       		<img class="image" src="/img/login/image-2.png" />
	        <div class="text-wrapper-2">UnWell</div>
	</div>
	<div class="overlay_volunteer" onclick='location.href="login_signup_volunteer"'>
        	<img class="image2" src="/img/login/image-3.png" />
        	<div class="text-wrapper-3">Volunteer</div>
	</div>
      </div>
    </div>
  </body>
</html>
