<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/login_signup_unwell_category.css" />
  </head>
  <body>
    <div class="unwell-overlay">
      <div class="div">

	<div class="desc-group">
        <div class="desc-2">Challenged at</div>
        <div class="navbar">
          <div class="text-desc">No<br>Help</div>
          <div class="text-desc">Less<br>Help</div>
          <div class="text-desc">Some<br>Help</div>
          <div class="text-desc">Must<br>Help</div>
        </div>
	</div>

        <div class="overlap-group">
          <div class="desc">
            <div class="text-wrapper">See</div>
            <div class="text-wrapper">Walk</div>
            <div class="text-wrapper">Talk</div>
            <div class="text-wrapper">Listen</div>
            <div class="text-wrapper">Intelligence</div>
            <div class="text-wrapper">Mental</div>
            <div class="text-wrapper">Depression</div>
          </div>
          <div class="component-group">
          <div class="component">
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="component">
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="component">
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="component">
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="component">
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="component">
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="component">
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
