<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="login-main">
      <div class="div">
        <div class="overlap">
          <img class="img" src="img/login/image-5.png" />
          <img class="image" src="img/login/image-1.png" />
          <div class="login-with-google">
            <div class="overlap-group">
              <div class="text-wrapper">Login with Google</div>
              <img class="google-logo" src="img/login/google-logo.png" />
            </div>
          </div>

        </div>
<!--
        <div class="already-account">
          <p class="p">Don’t have an account ?</p>
          <div class="text-wrapper-2">Sign Up</div>
        </div>
-->
      </div>
    </div>

<script src="js/login.js"></script>

  </body>
</html>
