<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="./css/globals.css" />
        <link rel="stylesheet" href="/css/unwell_matching.css" />
    <link rel="stylesheet" href="/css/unwell_tabbar.css" />
      <style>
          .starMatch {
              width: 60px; /* Adjust the width as needed */
              height: 60px; /* Adjust the height as needed */
              display: inline-block;
              background-size: contain;
              cursor: pointer;
          }
          .picked {

              background-image: url('https://cdn.dwicd.com/konkuk/lab/img/unwell/pick.png');
          }

          .unpicked {
              background-image: url('https://cdn.dwicd.com/konkuk/lab/img/unwell/unpick.png');
          }
      </style>
  </head>
  <body>
    <div class="unwell">
      <div class="div">
        <div class="logo">
          <div class="logo-text">Matching Result</div>
          <img class="logo-line" src="/img/unwell/line-5.svg" />
        </div>

<!-- @TODO HERE -->
<!-- CASE #1 - MATCHED -->
          <div class="matching" th:each="matching : ${successMatchings}">

              <div class="match-overlay">
                  <a class="match-name" th:text="'Match ' + ${matching.getGroupId()}"></a>
                  <a class="match-info" th:text="'Course Name  ' + ${matching.getName()}"></a>
                  <a class="match-info" th:text="'Type Of Help  '+ ${matching.getRequestString()}"></a>
                  <a class="match-info" th:text="'Start Date ' + ${matching.getStartDate()}">: 2023-11-15</a>
                  <a class="match-info" th:text="'End Date ' +${matching.getEndDate()}"></a>
              </div>

              <div class="table-outer">
                  <div class="table-inner">
                      <div class="row">
                          <div class="cell-color-title">
                              <div class="cell-content"><div class="cell-content-text">Volunteer Name</div></div>
                          </div>
                          <div class="cell">
                              <div class="cell-content"><div class="cell-content-text" th:text="${matching.getVolunteerName()}">Lee Jae Meong Yoon Seok Yeol</div></div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="cell-color-title">
                              <div class="cell-content"><div class="cell-content-text">E-mail</div></div>
                          </div>
                          <div class="cell">
                              <div class="cell-content"><div class="cell-content-text" th:text="${matching.getVolunteerEmail()}"></div></div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="cell-color-title">
                              <div class="cell-content"><div class="cell-content-text">Phone Number</div></div>
                          </div>
                          <div class="cell">
                              <div class="cell-content"><div class="cell-content-text" th:text="${matching.getVolunteerPhoneNum()}"></div></div>
                          </div>
                      </div>
                      <div class="row" >
                          <div class="cell-color-title">
                              <div class="cell-content">
                                  <div class="cell-content-text">Rating</div>
                              </div>
                          </div>
                          <div class="cell">
                              <!-- Use a div to hold the star images -->
                              <div class="cell-content starRatingMatch">
                                  <!-- Add five stars with unique IDs -->

                                  <div class="starMatch" th:class="${matching.getRating() >= 1 ? 'starMatch picked' : 'starMatch unpicked'}" th:onclick="|setRating(${matching.getIndex()}, 1, ${matching.getMatchingId()})|"></div>
                                  <div class="starMatch" th:class="${matching.getRating() >= 2 ? 'starMatch picked' : 'starMatch unpicked'}" th:onclick="|setRating(${matching.getIndex()}, 2, ${matching.getMatchingId()})|"></div>
                                  <div class="starMatch" th:class="${matching.getRating() >= 3 ? 'starMatch picked' : 'starMatch unpicked'}" th:onclick="|setRating(${matching.getIndex()}, 3, ${matching.getMatchingId()})|"></div>
                                  <div class="starMatch" th:class="${matching.getRating() >= 4 ? 'starMatch picked' : 'starMatch unpicked'}" th:onclick="|setRating(${matching.getIndex()}, 4, ${matching.getMatchingId()})|"></div>
                                  <div class="starMatch" th:class="${matching.getRating() == 5 ? 'starMatch picked' : 'starMatch unpicked'}" th:onclick="|setRating(${matching.getIndex()}, 5, ${matching.getMatchingId()})|"></div>





                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <img class="matching-line" src="/img/unwell/line-5.svg" />

          </div>
        <div class="matching" th:each="matching : ${matchings}">
          <div class="match-overlay">
            <a class="match-name" th:text="'Match ' + ${matching.getGroupId()}"></a>
            <a class="match-info" th:text="'Course Name  ' + ${matching.getName()}"></a>
            <a class="match-info" th:text="'Type Of Help  '+ ${matching.getRequestString()}"></a>
            <a class="match-info" th:text="'Start Date ' + ${matching.getStartTime()}">: 2023-11-15</a>
            <a class="match-info" th:text="'End Date ' +${matching.getEndTime()}"></a>

          </div>
          <div class="table-outer">
            <div class="table-inner" th:if="${matching.getUnwellMatchingColumnDtoList().size()!=0}">
              <div class="row">
                <div class="cell-color-title">
                  <div class="cell-content"><div class="cell-content-text">Volunteer Name</div></div>
                </div>
                <div class="cell-color-title">
                  <div class="cell-content"><div class="cell-content-text">Rating</div></div>
                </div>
                <div class="cell-color-title">
                  <div class="cell-content"><div class="cell-content-text">Status</div></div>
                </div>
              </div>

              <form action="http://localhost:8080/matching/ack" method="post" class="form" th:each="unwellMatchingColumnDto : ${matching.getUnwellMatchingColumnDtoList()}">
                <input type="hidden" class="groupId" name="groupId" th:value="${unwellMatchingColumnDto.getGroupId()}" />
                  <input type="hidden" class="userId" name="userId" th:value="${unwellMatchingColumnDto.getVolunteerId()}" />
                <input type="hidden" class="isVolunteer" name="isVolunteer" value=0 />
                <div class="row">
                  <div class="cell">
                    <div class="cell-content"><div class="cell-content-text" th:text="${unwellMatchingColumnDto.getVolunteerName()}"></div></div>
                  </div>
                  <div class="cell">
                    <div class="cell-content"><div class="cell-content-text" th:text="${unwellMatchingColumnDto.getRating()}"></div></div>
                  </div>
                  <div class="cell-color-button request-area">
                    <div class="cell-content"><div class="cell-content-text"  th:text="${unwellMatchingColumnDto.getState()}"></div></div>
                  </div>
                </div>
              </form>



            </div>
          </div>
          <img class="matching-line" src="/img/unwell/line-5.svg" />
        </div>

        </div>

<!-- @TODO HERE -->

<!-- @TODO HERE -->
<!-- CASE #2 - WAIT_ONE_MORE -->

<!-- @TODO HERE -->

<!-- @TODO HERE -->
<!-- CASE #3 - WAIT_NO_ONE -->

<!-- @TODO HERE -->

<br><br><br><br>

        <div class="menubar-sudong">
            <div class="nav-item-sudong" onclick='location.href="http://localhost:8080/course"'>
                <img class="img-sudong" src="/img/unwell/find.svg" />
                <div class="text-wrapper-sudong">Explore</div>
            </div>
            <div class="nav-item-sudong" onclick='location.href="http://localhost:8080/matching/unwell"'>
                <img class="img-sudong" src="/img/unwell/table.svg" />
                <div class="text-wrapper-sudong">Result</div>
            </div>
          <div class="nav-item-sudong" onclick='location.href="unwell_personalize.html"'>
            <img class="img-sudong" src="/img/unwell/recommend.svg" />
            <div class="text-wrapper-sudong">Recommend</div>
          </div>
        </div>

      </div>


<script src="/js/unwell_matching.js"></script>
    <script>
        // 매칭 아이디로
        function setRating(match_css_id, rating, match_id) {
            // Showing - Star

            var target_div_mother = document.getElementsByClassName("starRatingMatch")[match_css_id - 1];
            for (let i = 1; i<= 5; ++i) {
                var star = target_div_mother.getElementsByClassName("starMatch")[i - 1];
                if (i <= rating) {
                    star.classList.remove("unpicked");
                    star.classList.add("picked");
                } else {
                    star.classList.remove("picked");
                    star.classList.add("unpicked");
                }
            }

            console.log(`Current Rating ${match_css_id}:`, rating);
            console.log('Match ID:', match_id);

            if (!match_id) {
                console.error("MatchID not found.");
                return;
            }

            // Prepare the data to be sent in the POST request
            const data = {
                matchingId: match_id,
                rating: rating,
            };

            // Send the POST request to http://localhost:8080/rating
            fetch('http://localhost:8080/matching/rating?matchingId=' + match_id + "&rating=" + rating, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
                // body: JSON.stringify(data),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(responseData => {
                    // Handle the response data if needed
                    console.log(responseData);
                })
                .catch(error => {
                    // Handle errors
                    console.error('There was a problem with the fetch operation:', error);
                });

            // setRating(0,0,0)
        }
    </script>
  </body>
</html>
