<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/unwell_deepsearch.css" />
    <link rel="stylesheet" href="/css/unwell_tabbar.css" />
  </head>
  <body>
    <div class="unwell">
      <div class="div">

<!-- #1 전체 설명, 1:1 -->
        <div class="content1">
            <div class="cate-wrapper">Course</div>
            <img class="line-wrapper" src="/img/unwell/line-7.svg" />

<!-- @TODO HERE -->
            <!-- IMG -->
            <img class="img-wrapper" src="/img/unwell/image-8.png" />
            <!-- TITLE -->
            <div class="title-wrapper">
              Konkuk Univ
            </div>
            <!-- DESC -->
            <div class="desc-wrapper">
              Konkuk Univ., located in Seoul<br>
              They think student is just a money.
            </div>
<!-- @TODO HERE -->

<form action="http://localhost:8080/matching/request" method="post" class="form">
<input type="hidden" class="typeId" name="typeId" value=1 />
<input type="hidden" class="uId" name="uId" value=1111 />
<input type="hidden" class="startDatetime" name="startDatetime" />
<input type="hidden" class="endDatetime" name="endDatetime" />
<input type="date" class="startDate" name="startDate"/>
<input type="time" class="startTime" name="startTime"/>
<input type="date" class="endDate" name="endDate"/>
<input type="time" class="endTime" name="endTime"/>
            <div class="submit-wrapper"><div class="submit-wrapper-inner request-area">
              <div class="rect"></div><div class="text">Request HELP</div>
            </div></div>
</form>
        </div>
<!-- #1 전체 설명, 1:1 -->

<!-- #2 이동수단, 1:N -->
        <div class="content2">
            <div class="cate-wrapper">Transportation</div>
            <img class="line-wrapper" src="/img/unwell/line-7.svg" />

<!-- @TODO HERE -->
            <!-- IMG #1 -->
            <img class="img-wrapper" src="/img/unwell/image-10.png" />
            <!-- TITLE #1 -->
            <div class="title-wrapper">
              Konkuk Univ Cow (mascot KU)
            </div>
            <!-- DESC #1 -->
            <div class="desc-wrapper">
              You can ride cow in campus.<br>
              Bull is also meaning "떡상" in Korea.
            </div>

            <!-- IMG #2 -->
            <img class="img-wrapper" src="/img/unwell/image-11.png" />
            <!-- TITLE #2 -->
            <div class="title-wrapper">
              Helicopter Site
            </div>
            <!-- DESC #2 -->
            <div class="desc-wrapper">
              You can also use Helipcopter in campus.<br>
              It costs about KRW 100,000.<br>
              Konkuk is money-making company, not a university.
            </div>
<!-- @TODO HERE -->

<form action="http://localhost:8080/matching/request" method="post" class="form">
<input type="hidden" class="typeId" name="typeId" value=2 />
<input type="hidden" class="uId" name="uId" value=2222 />
<input type="hidden" class="startDatetime" name="startDatetime" />
<input type="hidden" class="endDatetime" name="endDatetime" />
<input type="date" class="startDate" name="startDate"/>
<input type="time" class="startTime" name="startTime"/>
<input type="date" class="endDate" name="endDate"/>
<input type="time" class="endTime" name="endTime"/>
            <div class="submit-wrapper"><div class="submit-wrapper-inner request-area">
              <div class="rect"></div><div class="text">Request HELP</div>
            </div></div>
</form>
        </div>
<!-- #2 이동수단, 1:N -->

<!-- #3 숙박, 1:N -->
        <div class="content3">
            <div class="cate-wrapper">Lodgment</div>
            <img class="line-wrapper" src="/img/unwell/line-7.svg" />

<!-- @TODO HERE -->
            <!-- IMG #1 -->
            <img class="img-wrapper" src="/img/unwell/image-10.png" />
            <!-- TITLE #1 -->
            <div class="title-wrapper">
              Konkuk Univ Cow (mascot KU)
            </div>
            <!-- DESC #1 -->
            <div class="desc-wrapper">
              You can ride cow in campus.<br>
              Bull is also meaning "떡상" in Korea.
            </div>

            <!-- IMG #2 -->
            <img class="img-wrapper" src="/img/unwell/image-11.png" />
            <!-- TITLE #2 -->
            <div class="title-wrapper">
              Helicopter Site
            </div>
            <!-- DESC #2 -->
            <div class="desc-wrapper">
              You can also use Helipcopter in campus.<br>
              It costs about KRW 100,000.<br>
              Konkuk is money-making company, not a university.
            </div>
<!-- @TODO HERE -->

<form action="http://localhost:8080/matching/request" method="post" class="form">
<input type="hidden" class="typeId" name="typeId" value=3 />
<input type="hidden" class="uId" name="uId" value=3333 />
<input type="hidden" class="startDatetime" name="startDatetime" />
<input type="hidden" class="endDatetime" name="endDatetime" />
<input type="date" class="startDate" name="startDate"/>
<input type="time" class="startTime" name="startTime"/>
<input type="date" class="endDate" name="endDate"/>
<input type="time" class="endTime" name="endTime"/>
            <div class="submit-wrapper"><div class="submit-wrapper-inner request-area">
              <div class="rect"></div><div class="text">Request HELP</div>
            </div></div>
</form>
        </div>
<!-- #3 숙박, 1:N -->

<!-- #4 식당, 1:N -->
        <div class="content4">
            <div class="cate-wrapper">Restaurant</div>
            <img class="line-wrapper" src="/img/unwell/line-7.svg" />

<!-- @TODO HERE -->
            <!-- IMG #1 -->
            <img class="img-wrapper" src="/img/unwell/image-10.png" />
            <!-- TITLE #1 -->
            <div class="title-wrapper">
              Konkuk Univ Cow (mascot KU)
            </div>
            <!-- DESC #1 -->
            <div class="desc-wrapper">
              You can ride cow in campus.<br>
              Bull is also meaning "떡상" in Korea.
            </div>

            <!-- IMG #2 -->
            <img class="img-wrapper" src="/img/unwell/image-11.png" />
            <!-- TITLE #2 -->
            <div class="title-wrapper">
              Helicopter Site
            </div>
            <!-- DESC #2 -->
            <div class="desc-wrapper">
              You can also use Helipcopter in campus.<br>
              It costs about KRW 100,000.<br>
              Konkuk is money-making company, not a university.
            </div>
<!-- @TODO HERE -->

<form action="http://localhost:8080/matching/request" method="post" class="form">
<input type="hidden" class="typeId" name="typeId" value=4 />
<input type="hidden" class="uId" name="uId" value=4444 />
<input type="hidden" class="startDatetime" name="startDatetime" />
<input type="hidden" class="endDatetime" name="endDatetime" />
<input type="date" class="startDate" name="startDate"/>
<input type="time" class="startTime" name="startTime"/>
<input type="date" class="endDate" name="endDate"/>
<input type="time" class="endTime" name="endTime"/>
            <div class="submit-wrapper"><div class="submit-wrapper-inner request-area">
              <div class="rect"></div><div class="text">Request HELP</div>
            </div></div>
</form>
        </div>
<!-- #4 식당, 1:N -->

<!-- #5 관광지, 1:N -->
        <div class="content5">
            <div class="cate-wrapper">Travel Site</div>
            <img class="line-wrapper" src="/img/unwell/line-7.svg" />

<!-- @TODO HERE -->
            <!-- IMG #1 -->
            <img class="img-wrapper" src="/img/unwell/image-10.png" />
            <!-- TITLE #1 -->
            <div class="title-wrapper">
              Konkuk Univ Cow (mascot KU)
            </div>
            <!-- DESC #1 -->
            <div class="desc-wrapper">
              You can ride cow in campus.<br>
              Bull is also meaning "떡상" in Korea.
            </div>

            <!-- IMG #2 -->
            <img class="img-wrapper" src="/img/unwell/image-11.png" />
            <!-- TITLE #2 -->
            <div class="title-wrapper">
              Helicopter Site
            </div>
            <!-- DESC #2 -->
            <div class="desc-wrapper">
              You can also use Helipcopter in campus.<br>
              It costs about KRW 100,000.<br>
              Konkuk is money-making company, not a university.
            </div>
<!-- @TODO HERE -->

<form action="http://localhost:8080/matching/request" method="post" class="form">
<input type="hidden" class="typeId" name="typeId" value=5 />
<input type="hidden" class="uId" name="uId" value=5555 />
<input type="hidden" class="startDatetime" name="startDatetime" />
<input type="hidden" class="endDatetime" name="endDatetime" />
<input type="date" class="startDate" name="startDate"/>
<input type="time" class="startTime" name="startTime"/>
<input type="date" class="endDate" name="endDate"/>
<input type="time" class="endTime" name="endTime"/>
            <div class="submit-wrapper"><div class="submit-wrapper-inner request-area">
              <div class="rect"></div><div class="text">Request HELP</div>
            </div></div>
</form>
        </div>
<!-- #5 관광지, 1:N -->

<br><br><br><br>

        <div class="menubar-sudong">
          <div class="nav-item-sudong" onclick='location.href="unwell_search.html"'>
            <img class="img-sudong" src="/img/unwell/find.svg" />
            <div class="text-wrapper-sudong">Explore</div>
          </div>
          <div class="nav-item-sudong" onclick='location.href="unwell_matching.html"'>
            <img class="img-sudong" src="/img/unwell/table.svg" />
            <div class="text-wrapper-sudong">Result</div>
          </div>
          <div class="nav-item-sudong" onclick='location.href="unwell_personalize.html"'>
            <img class="img-sudong" src="/img/unwell/recommend.svg" />
            <div class="text-wrapper-sudong">Recommend</div>
          </div>
        </div>

      </div>
    </div>

<script src="/js/unwell_deepsearch.js"></script>

  </body>
</html>
