<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/unwell_personalize.css" />
    <link rel="stylesheet" href="/css/unwell_tabbar.css" />
  </head>
  <body>
    <div class="unwell">
      <div class="div">
        <div class="logo">
            <img class="logoimg" src="/img/unwell/image-6-1.png" />
            <img class="line" src="/img/unwell/line-3.svg" />
        </div>

        <div class="overlap-group">

<a style="font-size:50px;font-weight:bold;"> Personalize - Travel Course - Recommendation</a>
<br><br>
<br><br>
<br><br>
<a style="font-size:50px;font-weight:bold;"> Start Develop at Phase 2 </a>

        </div>

<br><br><br>
<br><br><br>
<br><br><br>

        <div class="menubar-sudong">
          <div class="nav-item-sudong" onclick='location.href="unwell_search.html"'>
            <img class="img-sudong" src="/img/unwell/find.svg" />
            <div class="text-wrapper-sudong">Explore</div>
          </div>
          <div class="nav-item-sudong" onclick='location.href="unwell_matching.html"'>
            <img class="img-sudong" src="/img/unwell/table.svg" />
            <div class="text-wrapper-sudong">Result</div>
          </div>
          <div class="nav-item-sudong" onclick='location.href="unwell_personalize.html"'>
            <img class="img-sudong" src="/img/unwell/recommend.svg" />
            <div class="text-wrapper-sudong">Recommend</div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
