<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/volunteer_personalize.css" />
    <link rel="stylesheet" href="/css/volunteer_tabbar.css" />
  </head>
  <body>
    <div class="volunteer">
      <div class="div">
        <div class="logo">
            <img class="logoimg" src="/img/volunteer/image-6-1.png" />
            <img class="line" src="/img/volunteer/line-3.svg" />
        </div>

        <div class="overlap-group">

<a style="font-size:50px;font-weight:bold;"> Personalize - Travel Course - Recommendation</a>
<br><br>
<br><br>
<br><br>
<a style="font-size:50px;font-weight:bold;"> Start Develop at Phase 2 </a>

        </div>

<br><br><br>
<br><br><br>
<br><br><br>

        <div class="menubar-sudong">
          <div class="nav-item-sudong" onclick='location.href="volunteer_matching.html"'>
            <img class="img-sudong" src="/img/volunteer/find.svg" />
            <div class="text-wrapper-sudong">Explore</div>
          </div>
          <div class="nav-item-sudong" onclick='location.href="volunteer_matching_result.html"'>
            <img class="img-sudong" src="/img/volunteer/table.svg" />
            <div class="text-wrapper-sudong">Result</div>
          </div>
          <div class="nav-item-sudong" onclick='location.href="volunteer_personalize.html"'>
            <img class="img-sudong" src="/img/volunteer/recommend.svg" />
            <div class="text-wrapper-sudong">Recommend</div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
